.Weather {
  border: 1px solid #ebebeb;
  background-color: #f9f7fe;
  padding: 16px;
  border-radius: 4px;
}
.Weather h1 {
  font-family: "Playfair Display", serif;
  color: #272142;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100px;
  line-height: 19px;
  list-style: none;
  margin-top: 10px;
}

.Weather .temperature {
  font-weight: bold;
  color: #272142;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
.Weather .btn-primary {
  background-color: #ffcab0;
  border: 1px solid #ffcab0;
}
.Weather .details {
  border: 1px solid white;
  background-color: #ffcab0;
  color: white;
  border-radius: 4px;
  padding: 10px;
  max-width: 200px;
  line-height: 2;
  position: relative;
  top: -10px;
  line-height: 2;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather canvas {
  margin: 10px auto;
}
